/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    border-style: solid;
    border-width:50px;
    border-color:rgb(248,7,200);
    padding-top: 3.5rem;
  }
.jumbotron {
  border-style: solid;
  border-width:50px;
  border-color:palevioletred;
}